#menu {
	width: 100%;
	height: 5%;
	/*background-color: #122a38;*/
	background-color: #15222A;
	color: white;
}

#menu a {
	display: inline-block;
}

#menu div {
	display: inline-block;
}

#titleText {
	margin: 0px;
	font-size: 28px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #fcf7f7;
}

#title {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 2.5%;
}

#actions {
	position: relative;
	float: right;
	text-align: right;
	margin-right: 20px;

	top: 50%;
	transform: translateY(-50%);
}

#actions a{
	color: white;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}


#initial {
	width: 75%;
	height: 75%;

	margin-left: 12.5%;

	border: 1px solid rgba(0,0,0,.125);

	background-color: white;
	border-radius: 7px;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#options button {
	width: 100%;
	margin-top: 3%;
}

#options {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
	margin-left: 25%;
}

#randomise {
	font-size: 1.5em;
	text-align: center;
}

#randomise input {
	transform: scale(1.5);
	margin-left: 2%;
}


#playerNumberGroup {
	display: flex;
	justify-content: center;
}

#playerNumberGroup button {
	margin-left: 5px;
}

.optionsPane {
	width: 74%;
	margin-left: 13%;

}

.optionsPane input {
	width: 59%;
	font-size: 1.5em;
	display: inline-block;
}

.optionsPane label {
	width: 40%;
	font-size: 1.5em;
	display: inline-block;
}

.optionsPane input[type=checkbox] {
	width: auto;
	transform: scale(1.3);
}

.optionsPane #numPlayers {
	width: 59%;
	display: inline-block;
}

.optionsBtnGroup {
	margin-top: 5%;
	width: 100%;
	display: inline-block;
}

.optionsBtnGroup button {

	width: 40%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#setupValues {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#setupValues h5 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 5%;
}


.setupNamesPane {
	width: 74%;
	margin-left: 13%;
}

.setupNamesPane h5, h3{
	text-align: center;
}

.setupNamesPane input[type="text"] {
	margin-top: 1%;
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5em;
	text-align: center;
}

.paneHeader {
	margin-top: 30px;
	margin-bottom: 30px;
	border: none;
	height: 1px;
	width: 70%;
	background-color: #cccccc
}

.btnNames {
	width: 15%;
	margin-left: 2%;
	margin-top: 2%;
}


.centerContent {
	display: flex;
	justify-content: center;
}

.playerDisplay input {
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #224271;
}

#playerNameSetup {
	width: 100%;
	height: 80%;
	background-color: #6ba2c1;
}